.center {
	text-align: center;
}

/* COLORS */
.bgPurple {
	background-color: #551A8B;
}

.bgGray {
	color: #808080;
} 

.bgWhite {
	background-color: white;
}

.textPurple {
	color: #551A8B;
}
.textGray {
	color: #808080;
}

.textWhite {
	color: white;
}

.unbold {
	font-weight: normal;
}
.navbar-toggler {
	border: 1px white;
}

.dropdown-toggle::after /* remove arrow */ {
	display: none;
}

/*
.btn-primary:focus .btn-primary:hover {
	background-color: #551A8B;

}
*/

.nav-link:hover {
	color: #e6d4f7;
}

.dropdown-item.hover {
	background-color: #e6d4f7;
}

#header-logo {
	height: 3em;
}


/* FOOTER */

footer {
	background-color: #343a40;
	color: white;
}
.vertical-align {
	display: block;
}

.icon {
	float: left;
	color: white;
	padding: 8px;
}
.icon:hover {
	color: #E6D4F7;
}

#icons {
	margin: 10px 0px 10px 0px;
}


#bug-report {
	font-style: italic;
	color: white;
}

#bug-report:hover {
	color: #E6D4F7;
}


