.center {
	text-align: center;
}

.swePurple {
	color: #551A8B;
}

.sweGray {
	color: #808080;
}

.sweWhite {
	color: white;
}

.unbold {
	font-weight: normal;
}

.jumbotron {
	background-color: #ba8ee2;
	text-align: center;
	color: white;
}
