.center {
	text-align: center;
}

.swePurple {
	color: #551A8B;
}

.sweGray {
	color: #808080;
}

.sweWhite {
	color: white;
}

.unbold {
	font-weight: normal;
}



/* new */
.container {
	padding-right: 15px;
  padding-left: 15px;
	/*
	border-color: blue;
	border-style: solid;
  border-width: 1px; */
}

.text {
	padding-top: 15px;
}

.row {/*
	border-color: red;
	 margin-right: -15px;
	margin-left: -15px; */

}
