<head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/officers.css">


    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/angular.min.js"></script>
    <script src="../bootstrap/js/angular-route.min.js"></script>
    <script src="../js/main.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700" rel="stylesheet">

    <!-- font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif; -->
    <div class = "heading">
      <h1> Officers </h1>
    </div>

    <div class = "container">
      <div class = "row">
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/amanda.jpg">
          <div class = "caption"> Amanda Guan </div>
          <div class = "subcaption"> Public Relations </div>
        </div>
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/anita.jpg">
          <div class = "caption"> Anita Silver </div>
          <div class = "subcaption"> Society and Alumni </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/annabel.jpg">
          <div class = "caption"> Annabel Yau </div>
          <div class = "subcaption"> Team Tech </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/asena.jpg">
          <div class = "caption"> Asena Yildiz </div>
          <div class = "subcaption"> EWI </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6  vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/bijal.jpg">
          <div class = "caption"> Bijal Patel </div>
          <div class = "subcaption"> SWE++ Liaison </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/celestina.jpg">
          <div class = "caption"> Celestina Calarde </div>
          <div class = "subcaption"> Team Tech </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/cynthia.jpg">
          <div class = "caption"> Cynthia Tien </div>
          <div class = "subcaption"> Senior Advisor </div>
        </div>
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/elizabeth.jpg">
          <div class = "caption"> Elizabeth Leong </div>
          <div class = "subcaption"> Membership </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/emma.jpg">
          <div class = "caption"> Emma Hsu </div>
          <div class = "subcaption"> Membership </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/erin.jpg">
          <div class = "caption"> Erin Song </div>
          <div class = "subcaption"> Career Options </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6  vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/francesca.jpg">
          <div class = "caption"> Francesca Ledesma </div>
          <div class = "subcaption"> Advocacy Chair </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/haruka.jpg">
          <div class = "caption"> Haruka Ichikawa </div>
          <div class = "subcaption"> Treasurer </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/ian.jpg">
          <div class = "caption"> Ian Rodney </div>
          <div class = "subcaption"> Career Options </div>
        </div>
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/jessicaau.jpg">
          <div class = "caption"> Jessica Au </div>
          <div class = "subcaption"> HSEP </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/jessicayeh.jpg">
          <div class = "caption"> Jessica Yeh </div>
          <div class = "subcaption"> Secretary </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/karina.jpg">
          <div class = "caption"> Karina Martinez </div>
          <div class = "subcaption"> Education Liason </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6  vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/kathleen.jpg">
          <div class = "caption"> Kathleen Chang </div>
          <div class = "subcaption"> Historian </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/krutika.jpg">
          <div class = "caption"> Krutika Ingale </div>
          <div class = "subcaption"> SWENext </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/lavanya.jpg">
          <div class = "caption"> Lavanya Vijayan</div>
          <div class = "subcaption"> HSEP </div>
        </div>
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/louise.jpg">
          <div class = "caption"> Louise Feng </div>
          <div class = "subcaption"> VP of Outreach </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/lucie.jpg">
          <div class = "caption"> Lucie Kresi </div>
          <div class = "subcaption"> Shadow an Engineer </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/malvika.jpg">
          <div class = "caption"> Malvika Singhal </div>
          <div class = "subcaption"> Elementary School </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6  vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/megan.jpg">
          <div class = "caption"> Megan Handley </div>
          <div class = "subcaption"> Shadow an Engineer </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/mindy.jpg">
          <div class = "caption"> Mindy Huang </div>
          <div class = "subcaption"> VP of Internal Relations </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/sarah.jpg">
          <div class = "caption"> Sarah Spivack </div>
          <div class = "subcaption"> Mini University </div>
        </div>
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/shirley.jpg">
          <div class = "caption"> Shirley Liu </div>
          <div class = "subcaption"> Webmaster </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/smita.jpg">
          <div class = "caption"> Smita Balaji </div>
          <div class = "subcaption"> VP of Corporate Relations </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/sneh.jpg">
          <div class = "caption"> Sneh Girdhar </div>
          <div class = "subcaption"> Intersocietal </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6  vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/teresa.jpg">
          <div class = "caption"> Teresa Yang </div>
          <div class = "subcaption"> Middle School </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/varsha.jpg">
          <div class = "caption"> Varsha Venkat </div>
          <div class = "subcaption"> President </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/veena.jpg">
          <div class = "caption"> Veena Narashiman </div>
          <div class = "subcaption"> Mentorship </div>
        </div>
        <div class = "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/yena.jpg">
          <div class = "caption"> Yena Kim </div>
          <div class = "subcaption"> Engineering Day </div>
        </div>
        <div class= "col-lg-2 col-md-4 col-sm-6 vcenter">
          <img class = "img-fluid" src = "../img/officersFA18/zoe.jpg">
          <div class = "caption"> Zoe Husted </div>
          <div class = "subcaption"> EWI </div>
        </div>
      </div>
    </div>

</head>
