<head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/main.css">


    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/angular.min.js"></script>
    <script src="../bootstrap/js/angular-route.min.js"></script>
    <script src="../js/main.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700" rel="stylesheet">

    <!-- font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif; -->
</head>