<head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/main.css">


    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/angular.min.js"></script>
    <script src="../bootstrap/js/angular-route.min.js"></script>
    <script src="../js/main.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700" rel="stylesheet">

    <!-- font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif; -->
</head>

<body>
  <div class="jumbotron jumbotron-fluid outreach-jumbotron">
    <div class="container">
      <h1 class="display-5">Outreach</h1>
      <p class="lead">UC Berkeley's SWE outreach committee is committed to helping students develop a passion for science and
      engineering. We hold events for students in grades K through 12.</p>
    </div>
  </div>

<!--
  <section class="container">
  <div class="row header">
      <div class="title col-lg-12 text-center">
          <h2>Outreach</h2>
          <p>
            UC Berkeley's SWE Outreach committee is committed to helping students develop a passion for science and
            engineering. We hold events for students in grades K through 12.
          </p>
      </div>
  </div>
  </section> -->

  <section class="container">
    <div class="card-deck">
        <!--1. MiniU-->
        <div class="card mb-3 mx-2 card1">
            <img class="card-img-top" src="../img/outreach/mini_u.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mini University</h5>
                <p class="card-text">
                    Mini University is an event for Bay Area high schoolers to experience a day in the life of
                    a Berkeley Engineering student. Participants explore careers in STEM fields through lab and
                    campus tours, engineering activities, and student and industry panels.
                </p>
                <a href="./miniu.html" class="card-link">Read more</a>
            </div>
        </div>

        <!--2. Engineering Day-->
        <div class="card mb-3 mx-2 card2">
            <img class="card-img-top" src="../img/outreach/engday.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Engineering Day</h5>
                <p class="card-text">Engineering Day is a fun event in October where parents and K-3rd graders
                interact with Halloween-themed science booths in a casual, carnival style. In past years,
                we've had over 100 kids attend!</p>
                <a href="#" class="card-link">Read more</a>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 2 on med--></div>

        <!--3. HSEP-->
        <div class="card mb-3 mx-2 card3">
            <img class="card-img-top" src="../img/outreach/hsep.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">High School Engineering Program</h5>
                <p class="card-text">
                    HSEP is a 10-week long program that introduces female high school
                    students to the principles and applications of engineering. Students participate
                    engaging lessons and are mentored in small teams to carry out an involved engineering project.
                </p>
                <a href="#" class="">Read more</a>
            </div>
        </div>


        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 3 on lg--></div>
        <div class="w-100 d-none d-xl-block"><!-- wrap every 3 on xl--></div>

        <!--4. SWE Science Saturdays-->
        <div class="card mb-3 mx-2 card4">
            <img class="card-img-top" src="../img/outreach/sciencesat.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">SWE Science Saturdays</h5>
                <p class="card-text">
                  SWE Science Saturdays and SWE Science Scholars are monthly events for 4th-5th grade and middle school
                  students. Students learn engineering principles by creating fun, hands-on projects.
                </p>
                <a href="#" class="card-link">Read more</a>
            </div>
        </div>

        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 2 on med--></div>

        <!--5. Overnight Host Program-->
        <div class="card mb-3 mx-2 card5">
            <img class="card-img-top" src="../img/outreach/ohp.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Overnight Host Program</h5>
                <p class="card-text">
                    OHP gives women admitted to the College of Engineering
                    and the Chemical Engineering major a chance to experience life as a Berkeley engineer. Admits
                    tour the campus, interact with student organizations, attend a faculty banquet,
                    and sleep overnight in student housing.
                </p>
                <a href="#" class="card-link">Read more</a>
            </div>
        </div>

        <div class="card border-0"></div>

      </div>

  </section>
