<head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css"href="../bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/main.css">
     


    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/angular.min.js"></script>
    <script src="../bootstrap/js/angular-route.min.js"></script>
    <script src="../js/main.js"></script>
 
    

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700" rel="stylesheet">

</head>



<body>
    <div class="container">
      <h1 class="my-4" align="center">SWE Professional Development Month
      </h1>
      <h3 class="my-3">
      	About
      </h3>

      <div name="aboutPar">
      	<p> Professional Development Month (PDM) an annual series of career workshops throughout October for students interested in expanding their professional development. Every year, the UC Berkeley Society of Women Engineers invites companies like Microsoft, PwC, and Slack to host educational seminars throughout the month.

		Our workshops cover a variety of topics to prepare students seeking professional experience. Events include resume workshops, internship seminars, and data analysis tutorials.

      </div>



      <!-- Event Item Heading -->
      <h1 class="my-4">Professional Development Month
        <small>Upcoming Events (click for more information)</small>
      </h1>

      <!-- Event Item Row -->
      <div class="row" >

        


<div class="modal fade" id="eventGM" tabindex="-1" role="dialog" aria-labelledby="eventGMLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventGMLongTitle">Career Opportunities Abroad with General Motors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="../img/pdm/gm" alt=""> 
               
            
              
              <h3 class="my-3">Career Opportunities Abroad with General Motors</h3>
                <p>Join General Motors recruiters and engineers to learn about how to combine travel with your career. Representatives from GM will be discussing how to direct your career to involve travelling--whether that be working in a different state, a different country, or just traveling as part of your job! 
          </p>
              <h3 class="my-3">Event Details</h3>
              <ul>
                <li>Date: 10/30/18 </li>
                <li>Time: 6-7:30 pm</li>
                <li>Location: TBD</li>
                <li>Other Info: <a href="https://www.facebook.com/events/892183270977968/">Facebook Event </a></li> 
             </ul>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        

		
<div class="modal fade" id="eventGoogle" tabindex="-1" role="dialog" aria-labelledby="eventGoogleLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventGoogleLongTitle">Technical Interview Prep with Google</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="col-md-8" src="../img/pdm/google" alt=""> 
          
            <h3 class="my-3">Technical Interview Prep with Google</h3>
                <p>Google university recruiter Lauren Ting will be holding a career workshop with tips on how to ace the technical interview stage of recruiting. Lauren and other Google representatives will be sharing advice on how to perform in technical interviews, along with a general info session about Google and student career opportunities. Resume drops + free dinner will be included!
          </p>
              <h3 class="my-3">Event Details</h3>
              <ul>
                <li>Date: 10/04/18 </li>
                <li>Time: 6-8 pm</li>
                <li>Location: 380 Soda Hall</li>
                <li>Other Info: <a href="https://www.facebook.com/events/1274908565979229/">Facebook Event</a></li>
             </ul>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      	
        	
<div class="modal fade" id="eventSpotify" tabindex="-1" role="dialog" aria-labelledby="eventSpotifyLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventSpotifyLongTitle">Personal Branding with Spotify</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="../img/pdm/spotify" alt=""> 
                
              <h3 class="my-3">Personal Branding with Spotify </h3>
                <p>Join Spotify university recruiters and representatives, who will share insights on personal branding for Spotify as well as tips in applying for various positions in Spotify! Representatives in Spotify’s engineering, design, and business departments will be present to share their knowledge on standing out in your internship/full-time applications. Resume drops + free brunch will be provided!
          </p>
              <h3 class="my-3">Event Details</h3>
              <ul>
                <li>Date: 10/10/18 </li>
                <li>Time: 12-1:30 pm</li>
                <li>Location: 225 Bechtel</li>
                <li>Other Info: <a href="https://www.facebook.com/events/312279336233720/">Facebook Event</a></li> 
             </ul>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="eventStryker" tabindex="-1" role="dialog" aria-labelledby="eventStrykerLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventStrykerLongTitle">How to be an All-Star Candidate with Strkyer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="../img/pdm/stryker" alt=""> 
               
              <h3 class="my-3">How to be an All-Star Candidate with Strkyer</h3>
                <p>Unsure how to stand out during recruiting season? Come out to this event with Stryker to learn about how to differentiate yourself during recruiting season! Stryker is medical device technology company that develops innovative solutions involving orthopedics, neurotechnology, and various other medical solutions.
          </p>
              <h3 class="my-3">Event Details</h3>
              <ul>
                <li>Date: 10/15/18 </li>
                <li>Time: 5:30-7:00 pm</li>
                <li>Location: TBD</li>
                 <li>Other Info: <a href="https://www.facebook.com/events/286595045495680/">Facebook Event</a></li>
             </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="eventSNL" tabindex="-1" role="dialog" aria-labelledby="eventSNLlLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventSNLLongTitle">Careers in Data Science with Sandia National Laboratories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="../img/pdm/snl" alt=""> 
      	<h3 class="my-3">Careers in Data Science with Sandia National Laboratories</h3>
          			<p>Sandia National Laboratories is a National Nuclear Security Administration research and development laboratory focused on national security and nuclear science. Sandia’s work currently involves cutting edge fields such as computational biology, alternative energy, and cognitive science. Representatives from Sandia will be providing a workshop teaching applicable skills in data science and cybersecurity, along with opportunities for students interested in engineering and cybersecurity. 
					</p>
          		<h3 class="my-3">Event Details</h3>
          		<ul>
            		<li>Date: 10/15/18 </li>
            		<li>Time: 12-1:30 pm</li>
            		<li>Location: TBD</li>
           			<li>More Info: <a href="https://www.facebook.com/events/1362260593907958/"> Facebook Event</a></li> 
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





      <!-- /.row -->

      <!-- Other Events Row -->
     

      <div name="otherEvents" class="row">

        <div class="col-md-6 col-sm-6 mb-4">

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventSpotify" style="background: white; color: black; border: none">
          <img class="img-fluid" src="../img/pdm/spotify" alt="Spotify"
            > 
          </br>
          Spotify </button>
        
        </div>

        <div class="col-md-6 col-sm-6 mb-4">
            
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventGoogle" style="background: white; color: black; border: none"> 
              <img class="img-fluid" src="../img/pdm/google" alt="Google">
            </br>
          Google </button>
          
        </div>

        <div class="col-md-6 col-sm-6 mb-4">   
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventStryker"style="background: white; color: black; border: none">
              <img class="img-fluid" src="../img/pdm/stryker" alt="Event 3">
            </br>

            Stryker </button>
          
        </div>

        <div class="col-md-6 col-sm-6 mb-4">
           <button type="button" class="btn btn-primary" style="background: white; color: black; border: none"  data-toggle="modal" data-target="#eventSNL"> 
           <img class="img-fluid" src="../img/pdm/snl" alt="Event 4">
         </br>
           Sandia National Labs </button>
        </div>

        <div class="col-md-6 col-sm-6 mb-4">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventGM" style="background: white; color: black; border: none">
          <img class="img-fluid" src="../img/pdm/gm" alt="Event 5">
          </br> 
            General Motors 
        </button>
        </div>
       
      </div>
      <!-- /row -->


    </div>
    <!-- /container -->
</body>

