<footer>


<div class="section">
  <div class="container">
    <div class="text-center">

      <!-- Social media -->
      <div class="row">

      					<ul class="icons ">
                  <li><a href="mailto:swe.berkeley@gmail.com" target="_" class="icon circle fa-envelope-o"><span class="label">Email</span></a></li>
      						<li><a href="https://twitter.com/UCB_SWE" target="_" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
      						<li><a href="https://www.facebook.com/ucbswe" target="_" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                	<li><a href="https://plus.google.com/104495537022402787912/posts" target="_" class="icon circle fa-google-plus"><span class="label">Google Plus</span></a></li>
                  <li><a href="http://www.youtube.com/user/BerkeleySWE" target="_" class="icon circle fa-youtube"><span class="label">Google Plus</span></a></li>
      					</ul>
                <br>
                <br>

<!--
        <a href="https://twitter.com/ucb_swe" class="twitter-follow-button" target="_" data-show-count="false">Follow @ucb_swe</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


        <div class="fb-like btn" data-href="https://www.facebook.com/ucbswe" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <address>
        <strong>Email</strong><br>
        <a href="mailto:swe.berkeley@gmail.com ">swe.berkeley@gmail.com </a>
      </address> -->

    </div class="copyright">
      <p>We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site. <small><a href="https://goo.gl/forms/7Mp7Y3XcSh9rUSth2" target="_">Bug Report</a></small></p>
      <p>All Rights Reserved © 2018 SWE, UC Berkeley Section</p>
    <a href="https://www.ocf.berkeley.edu">
    <img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png"
    alt="Hosted by the OCF" style="border: 0;" />
    </a>
    </div>
    <!-- /.container -->
  </div>
</div>
</footer>
