<head>
    <title>UC Berkeley SWE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/main.js"></script>
</head>

<div class="container">

  <nav class="navbar navbar-default bg-faded navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!-- <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            ☰
          </button> -->
        <button type="button" class="navbar-toggle hidden-sm-up collapsed" data-toggle="collapse" data-target="#collapsingNav" aria-expanded="false">
        <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand"><a href="#/"><img alt="UC Berkeley SWE" style="width: 300px" src="../assets/images/brand.png"></a><span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-toggleble-xs navbar-collapse" id="collapsingNav">
        <ul class="nav navbar-nav">
          <li class="divider-vertical"></li>
    <!--      <li class="nav-item"><a href="#/">Home <span class="sr-only">(current)</span></a></li> -->
          <li class="nav-item"><a href="#/about">About</a></li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/national">National Membership</a></li>
              <li><a href="#/committee">Committees</a></li>
              <li><a href="#/officers">Officers</a></li>
              <li><a href="https://www.facebook.com/ucbswe/events/" target="_">Facebook Group</a></li>
              <!-- <li role="separator" class="divider"></li> -->
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/calendar">Event Calendar</a></li>
              <li><a href="#/GMslides">General Meeting Slides</a></li>
              <li><a href="#/newsletters">Newsletters</a></li>
              <li><a href="#/alumnisignup">Alumni</a></li>
	      <!-- <li role="separator" class="divider"></li> -->
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Outreach <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/outreach">General Information</a></li>
              <li><a href="#/hsep">HSEP</a></li>
              <li><a href="#/miniu">Mini University</a></li>
              <li><a href="#/ohp">New Admit Overnight Host Program</a></li>
              <li><a href="#/science">Science Saturdays and Scholars</a></li>
            </ul>
          </li>
        <!-- </ul> -->
        <!-- <ul class="nav navbar-nav navbar-right"> -->
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Corporate <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/corporatepackage">Corporate Package</a></li>
              <li><a href="#/sponsors">Current Sponsors</a></li>
              <li><a href="https://drive.google.com/open?id=15wg1wB7FpGIa8hYXRnyyLbb0mMC7jmxscvsaaQsxb34" target="_">Company Interest Form</a></li> 
              <li><a href="https://www.facebook.com/groups/182353975773642/" target="_">Jobs/Opportunities Board</a></li> 
            </ul>
          </li>

          <!-- <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OHP<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/ohp">About the Program</a></li>
              <li><a href="#/ohp-specifics">Program Specifics</a></li>
              <li><a href="#/ohp-register">Register</a></li>
              <li><a href="#/ohp-host">Host</a></li>
              <li><a href="#/ohp-volunteer">Volunteer</a></li>
            </ul>
          </li> -->

          <!-- <li class="nav-item"><a href="http://gwe.berkeley.edu/" target="_">GradSWE</a></li> -->
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
<br>
<br>
<br>
